body{
    width: 100%;
    background-color: rgb(100,0,100);
}
ul{
    list-style: none;
    text-align: right;
    padding-right: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}
ul li{
    //border-bottom: 1px solid white;
    cursor: default;
}
.weather-block{
    margin-top: 20vh;
    margin-left: 20vw;
    width: 60vw;
    border-radius: 5px;
    background-color: bisque;
}
#location{
    font-family: fantasy;
    padding-top: 5px;
    padding-left: 10px;
    cursor: default;
}
#temp{
    cursor: pointer;
}
